---
import Layout from '../layouts/Layout.astro';
import LayoutComponent from '../components/Layout';
import LocalDatabaseGitManager from '../components/LocalDatabaseGitManager';
---

<Layout title="Database Git Manager - KaneDocs">
  <LayoutComponent client:load>
    <div class="h-[calc(100vh-4rem)]">
      <LocalDatabaseGitManager client:only="react" />
    </div>
  </LayoutComponent>
</Layout>