---
import Layout from '../layouts/Layout.astro';
import LayoutComponent from '../components/Layout';
import DatabaseGitManager from '../components/DatabaseGitManager';
---

<Layout title="Database Git Manager - KaneDocs">
  <LayoutComponent client:load>
    <div class="h-[calc(100vh-4rem)]">
      <DatabaseGitManager client:only="react" />
    </div>
  </LayoutComponent>
</Layout>