---
import Layout from '../layouts/Layout.astro';
import LayoutComponent from '../components/Layout';
import ProtectedRoute from '../components/ProtectedRoute';
import VersionControlSystem from '../components/VersionControlSystem';
---

<Layout title="Version Control System - KaneDocs">
  <LayoutComponent client:load>
    <ProtectedRoute client:load>
      <div class="h-[calc(100vh-4rem)]">
        <VersionControlSystem client:load />
      </div>
    </ProtectedRoute>
  </LayoutComponent>
</Layout>